*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

.game {
    padding: 10px;
    margin: 10px;
    align-content: center;
}

.revealed-guesses {
    letter-spacing: 5px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    border: solid black 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
